.sidebarContainer {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 100vh;
    position: fixed;
    width: 18%;

    >div:nth-child(1) {

        img {
            width: 100%;
            height: 7rem;
            margin-block: 1rem;
            padding-inline: 2rem;
        }
    }

    .sidebarMenu {
        margin-inline: 5%;

        ul {
            padding-block: 2px;
        }

        .activeMenu {

            li {
                border-radius: 0.25rem;
                background-color: #58024B;
                color: #ffffff;
                padding-block: 0.65rem;

                svg {
                    border-radius: 0.25rem;
                    font-size: 2rem;
                    padding: 0.30rem;
                    color: #58024B;
                    background-color: #ffffff;
                    margin-inline-end: 0.75rem;
                }
            }
        }

        .inActiveMenu {


            li {
                border-radius: 0.25rem;
                padding-block: 0.65rem;

                &:hover {
                    background-color: #58024B;
                    color: #ffffff;
                }

                svg {
                    border-radius: 0.25rem;
                    font-size: 2rem;
                    padding: 0.30rem;
                    margin-inline-end: 0.75rem;
                    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                }
            }
        }

        .subMenu {
            width: 80%;
            margin-left: auto !important;
            color: #58024B;
            &:hover{
                font-weight: 600;
            }

            svg {
                font-size: 1.75rem;
                margin-inline-end: 0.5rem;
            }
        }
    }
}