.sidebarContainer {
    position: fixed;
    width: 18%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    h4 {
        text-decoration: underline;
        color: #062838;
        padding-block: 1.5rem;
    }

    .menuItemContainer {

        .activeStyle {
            background-color: #6FD943;
            margin-block: 0.25rem;
            border-radius: 0.75rem;
            color: #ffffff;
            font-weight: 500;
            margin-inline-start: 1rem;
            margin-inline-end: 1.5rem;

            svg {
                background-color: #ffffff;
                padding: 0.45rem;
                border-radius: 0.5rem;
                margin-inline-end: 0.75rem;
                color: #6FD943;
            }
        }

        .inActiveStyle {
            margin-block: 0.25rem;
            border-radius: 0.75rem;
            color: #042736;
            font-weight: 500;
            margin-inline-start: 1rem;
            margin-inline-end: 1.5rem;

            svg {
                background-color: #ffffff;
                padding: 0.45rem;
                border-radius: 0.5rem;
                margin-inline-end: 0.75rem;
                color: #042736;
            }
        }
    }

    .menuItems {

        >li {
            display: flex;
            flex-direction: column;

            >div:nth-child(1) {
                width: 15rem;
            }

            >div:nth-child(2) {
                width: 15rem;
                background-color: #ffffff;
                color: #042736;
            }
        }
    }
}