

.overviewContainer {
    .overviewSidebar {
     
  
      &.fullWidthSidebar {
        width: 100%; 
        
      }
  
      &.overviewSidebar {
        width: 18%; 
        height: 100vh;
      }
    }
}
.overviewContainer {
  .fullWidthoverviewSidebar{
    width: 100%;}
    .overviewRoutesPage{


    &.fullWidthoverviewSidebar{
      width: 100%;
    }
    &.overviewRoutesPage {
      width: 82%;
    }
  }
  }
  


@media (max-width: 768px) {
  
    .overviewContainer {
       
        .overviewSidebar button {
            display: none;

        }
        .overviewRoutesPage {
            width: 100%;
            height: 0vh;
        }
    }  
        .overviewContainer {
            .overviewSidebar {
                height: 0vh;   
            }  
        }
  }