.headingContainer {
    justify-content: space-between;
    padding: 2%;
    background-color: whitesmoke;

    >div:nth-child(1) {
        display: flex;

        >div:nth-child(1) {
            width: 4rem;
            height: 3.5rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0.25rem;
            }
        }

        >div:nth-child(2) {
            margin-inline-start: 1rem;
        }
    }

    >div:nth-child(2) {
        display: flex;

    }
}