.dashboardContainer {
    margin-inline: 2%;

    h2 {
        padding-block: 2rem;
    }
   

    .dashboard2ndSection {
        > div:nth-child(1){
            // background-color: aqua;
        }
        > div:nth-child(2){
            // background-color: yellow;
        }
    }
}

@media (max-width: 768px) {

    .dashboardContainer {
       
        h2+div{
            // border: 2px solid yellow !important;
            flex-direction: column;
        }
    
        .dashboard2ndSection {
            display: flex;
            flex-direction: column;
            
        }
    }
}